.container {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  gap: 70px;
  order: 5;
  justify-content: space-evenly;
  align-items: center;
}

div.card {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/333/original/hintergrund.jpg?1681648586");
}

.enter-city {
  height: 45px;
}

h1 {
  columns: #000000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.cold {
  width: 60px;
}

.weather {
  display: flex;
  justify-content: center;
  margin: 0;
}

.tempUnit {
  text-align: center;
}

.temperature {
  font-size: 70px;
}

.celsiusFahrenheit {
  font-size: 18px;
}

.unit {
  color: #000000;
}

.source {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}